################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/.env
/backend/FlatSwap/appsettings.Development.json
/obj
/backend/FlatSwap/Migrations
